ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.nav-bar {
  background-color: var(--mainColor);
  height: 100vh;
  position: fixed;
  left: 0;
  transition: 0.4s ease-in-out;
  top: 0;
  width: 250px;
  padding: 15px 10px;
  z-index: 100;
}
.nav-bar * {
  transition: 0.4s ease-in-out;
}
.nav-bar img {
  width: 70px;
  height: 50px;
}
.cov {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}
.nav-bar .nav-head {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
}
.main-taps {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.main-taps svg {
  fill: white;
  margin-right: 15px;
  cursor: pointer;
}
.main-taps h3 {
  cursor: pointer;
}
.main-taps a {
  display: flex;
  align-items: center;
  color: white;
}
.main-taps h3:hover {
  transform: translateX(10px);
}
.nav-bar .arrow {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(180deg) translate(-30%);
  top: 50%;
}
.nav-bar.active .arrow {
  transform: rotate(0deg) translate(50%);
}
.nav-bar.active {
  height: 80vh;
  position: fixed;
  border-radius: 500px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10vh;
  left: -130px;
}
.nav-bar.active .cov {
  display: none;
}
.nav-bar.active .main-taps {
  margin-top: 0;
}
.nav-bar.active .main-taps > * {
  width: 300%;
}
.nav-bar.active .main-taps > * :first-child {
  margin: 0 130px;
}
.nav-bar a {
  color: white;
}
